body {
  background-color: #fff;
  color: #000;
  overflow-x: hidden;
  width: 100%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p {
  font-size: 18px;
}
.navbar {
  background:rgba(46, 121, 186, 0.842);
  color: #fff;
}
.logo {
  font-weight: 700;
  font-size: 20px;
  font-family: fantasy;
  color: #fff;
}
.links {
  color: #fff;
  font-size: 18px;
  font-family: fantasy;
}
.mainText {
  margin-top: 100px;
  font-size: 40px;
  font-weight: 900;
  line-height: 1.3;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgba(46, 121, 186, 0.842);
  text-transform: capitalize;
}
.subText {
  font-size: 18px;
  font-weight: 300;
}
.mob-banking {
  width: 100%;
  height: 550px;
}
.side-img {
  width: 100%;
  height: 550px;
}
.btn-enquiries {
  background: rgba(46, 121, 186, 0.842);
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
.btn-enquiries:hover {
  background: rgba(46, 121, 186, 0.842);
  color: #fff;
  opacity: 0.8;
  box-shadow: 10px 10px 10px 10px lavender;
}
.unique {
  background: #e2d4f1;
  color: #000;
  overflow-x: hidden;
  overflow-y: hidden;
}
.connect-btn {
  color: rgba(46, 121, 186, 0.842);
  font-weight: 600;
}
.connect-btn:hover {
  background: rgba(46, 121, 186, 0.842);
  color: #fff;
  opacity: 0.8;
  box-shadow: 10px 10px 10px 10px lavender;
}
.features {
  background: whitesmoke;
}
.feature {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight: 800;
  color: rgba(46, 121, 186, 0.842);
  text-transform: capitalize;
}
.feature-title {
  font-size: 20px;
  font-weight: bolder;
  color:goldenrod;
}
.feature-icon {
  background-color: goldenrod;
  color: #ffffff;
  width: 60px;
  height: 60px;
  padding: 10px 10px;
  border-radius: 50%;
}
ul {
  list-style-type: none;
}
.feature-link {
  font-size: 14px;
  line-height: 0.8cm;
  text-decoration: none;
  color: #4d4b4b;
}
.flex {
  display: inline-flex;
}
.lap-icon {
  background: goldenrod;
  color: #fff;
  padding: 15px 15px;
  width: 50px;
  height: 50px;
  border-radius: 20%;
}
.money-img {
  width: 100%;
  height: 500px;
}
.carousel-container {
  border-radius: 20% 0px 20% 0px/20% 0px 20% 0px;
}
.carousel-img {
  width: 100%;
  height: 500px;
  border-radius: 20% 0px 20% 0px/20% 0px 20% 0px;
}
.talk-btn {
  background:rgb(101, 87, 193);
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
}
.talk-btn:hover {
  opacity: 0.8;
  background:rgb(101, 87, 193);
  color: #fff;
}
.footer-col {
  text-align: center;
}
.footer-link-header {
  font-size: 16px;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer-link {
  text-decoration: none;
  color: rgb(50, 48, 48);
  font-size: 14px;
}



@media screen and (max-width: 768px) {
  body {
    overflow-x:hidden;
  }
  .mainText {
    font-size: 30px;
    margin-top: 30px;
  }
  .mob-banking, .side-img, .money-img, .carousel-img {
    width: 100%;
    height: 350px;
    object-fit: fill;
  }
  .flex {
    justify-content: center;
    text-align: center;
    display: block;
  }
  .feature-title {
    font-size: 18px;
  }
  .footer-link-header{
    font-size: 13px;
  } .footer-link {
    font-size: 11px;
  }

}